

  <div class="login_form">
    <h2>Login to Flatiron Secret Santa</h2>
    <%= render "errors/errors" %>
    <div class="text-area">
      <p><%= form_for @user, url: login_path, method: :post do |f| %></p>
      <div>
        <p><%= f.label "Username:" %></p>
        <p><%= f.text_field :name %></p>
      </div>
      <div>
        <p><%= f.label "Password:" %></p>
        <p><%= f.text_field :password %></p>
      </div>
      <p><%= f.submit "Submit" %></p>
      <% end %>
    </div>
    <h4>New? <%= link_to "Login Here", signup_path %> </h4>
  </div>
