
<h3>Hi <%= current_user.name %>! </h3>
<%= form_for @user, url: add_user_path, method: :post do |f| %>
  <h1>Add friends to your group!</h1>
    <p>Name: <%= f.text_field :name %></p>
    <p>Email: <%= f.text_field :email %></p>
  <%= f.submit "Add friend" %>
<% end %> <br>

<%= link_to 'Back', group_path %>
