
  <div class="create_group_form">

    <h3>You're just 2 steps away from creating a group...</h3>
    <%= render "errors/errors" %>
    <div class="text-area">
      <p><%= form_for @group, url: groups_path, method: :post do |f| %></p>
      <div>
        <p><%= f.label "Name your group:" %></p>
        <p><%= f.text_field :name %></p>
      </div>
      <div>
        <p><%= f.label "Set max individual budget £:" %></p>
        <p><%= f.text_field :budget %></p>
      </div>
      <p><%= f.submit "Create group", :class => "create_group_button" %></p>
      <% end %>
    </div>

    <div class="">
      <%= button_to "Back to homepage", show_path, method: :get %>
    </div>


    <h4>Note: You will automatically be assigned to this group </h4>

  </div>
