

<div class="signup_form">
  <h2>Join Flatiron Secret Santa</h2>
  <%= render "errors/errors" %>
  <div class="text-area">
    <p><%= form_for @user, url: signup_path, method: :post do |f| %></p>
    <div>
      <p><%= f.label "Choose username:" %></p>
      <p><%= f.text_field :name %></p>
    </div>
    <div>
      <p><%= f.label "Choose Email:" %></p>
      <p><%= f.text_field :email %></p>
    </div>
    <div>
      <p><%= f.label "Password:" %></p>
      <p><%= f.password_field :password %></p>
    </div>
    <div>
      <p><%= f.label "Password confirmation:" %></p>
      <p><%= f.password_field :password_confirmation %></p>
    </div>
    <p><%= f.submit "Submit", :class => 'button' %></p>
    <% end %>
  </div>
  <h4>Already Registered? <%= link_to "Login Here", root_path %> </h4>
</div>
