
<div class="user_home">

  <!-- message displays on top panel -->
  <div class="user_welcome">
    <h1>Welcome to Flatiron's Secret Santa <%= "#{current_user.name.capitalize}!" %> </h1>
  </div>

  <!-- users panel displays options -->
  <div class="user_panel">

    <!-- user able to execute different options  -->
    <div class="user_event">
      <h2>Create a new event!</h2>
      <p><%= button_to "Create an Event", new_group_path, method: :get %></p>
      <% if @user.groups.length > 0 %>
        <h3>Your events:</h3>
        <% current_user.groups.each do |group| %>
          <div class="user_event_info">
            <p><%= link_to group.name, group %></p>
            <p><%= button_to "Delete event", group_path(group), method: :delete %></p>
          </div>
        <% end %>
      <% else %>
        <h3>You have not created any events yet!</h3>
      <% end %>
    </div>

    <div class="user_wishlist">
      <h2>Create a new wishlist!</h2>
      <p><%= button_to "Add to your wishlist", new_gift_path, method: :get %></p>
      <% if !current_user.gifts.empty? %>
        <h3>Your wishlist</h3>
          <% current_user.gifts.each do |gift| %>
            <div class="">
              <p><%= link_to gift.name, gift %> <%= " and its only £#{gift.price}!" %> </p>
              <p><%= link_to "Edit Gift", edit_gift_path(gift) %></p>
              <%= form_tag gift_path(gift), method: "delete" do  %>
                <p><%= submit_tag "Delete Gift" %></p>
              <% end %>
            </div>
          <% end %>
      <% else %>
        <h3>Your wishlist is empty!</h3>
      <% end %>
    
    </div>

    <div class="all_user_wishlists">
  <h4>All Users' Wishlist</h4>
  <ul>
    <% User.all.each do |user| %>

    <div class="modal fade" id="<%= user.name %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel"><%= user.name.capitalize %>'s wishlist</h4>
          </div>
          <div class="modal-body">
            <ul>
              <% if user.gifts.length > 0 %>
                <% user.gifts.each do |gift| %>
                  <li><%= link_to gift.name, gift %> <%= " and its only £#{gift.price}!" %> </li>
                <% end %>
              <% else %>
                <p><%=user.name.capitalize%> doesn't have any wishlist yet!</p>
              <% end %>
            <ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
          </div>
        </div>
      </div>
    </div>

    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#<%= user.name %>">
      <%= user.name %>
    </button>
    <!-- <% user = user%>
      <li><%= link_to user.name, show_path %> </li> -->

      <% end %>


    </div>


</div>
