<h1>Welcome to Flatiron's Secret Santa <%= "#{current_user.name}!" %> </h1>


<%= link_to "Create a Secret Santa Event!", new_group_path %><br>
<%= link_to "Creat your very own wishlist!", new_gift_path %>

<% if !current_user.gifts.empty? %>
  <h3>Your wishlist</h3>
  <ul>
    <% current_user.gifts.each do |gift| %>
    <%= gift.name %>
      <li><%= link_to gift.name, gift %></li>
      <%= link_to "Edit Gift", edit_gift_path(gift) %>
      <%= form_tag gift_path(gift), method: "delete" do  %>
        <%= submit_tag "Delete Gift" %>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <h3>Your wishlist is empty!</h3>
<% end %>


<% if !@user.groups.empty? %>
  <% current_user.groups.each do |group| %>
    <h4><%= group.name %></h4>
  <% end %>
  <% else %>
  <h3>You are not registered to any groups!</h3>
<% end %>

<%= button_to "Logout", logout_path, method: :delete %><br>
