<!DOCTYPE html>
<html id="overide-bootstrap">
  <head>
    <title>FlatironSecretSanta</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Roboto" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
      <div>
        <div>
          <!--Logo to display on small screen-->
          <span class="logo"><%= link_to(image_tag('fss.png'), root_path) %></span>

        </div>
        <nav>
            <!--ID attibute used to target for media queries-->
            <% if logged_in? %>
              <div class="logged_in">
                <span>You are logged in as <%= current_user.name.capitalize %>! </span>

                <span><%= link_to "Your account", show_path, :class => "logged_in_button" %> </span>
                <span> <%= link_to "Logout", logout_path, method: :delete, :class => "logged_in_button"  %> </span>
              </div>
            <% else %>
              <div class="logged_out">
                <span> <%= link_to "Sign Up", signup_path, :class => "logged_out_button" %> </span>
                <span> <%= link_to "Login", login_path, :class => "logged_out_button" %> </span>
              </div>
            <% end %>
        </nav>
      </div>
    </header>

  <body>
    <%= yield %>
  </body>
  <!-- <footer>
    <div class="heart"><%= image_tag("heart.png") %></div>
  </footer> -->
</html>
